<%= form_for recipe do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <h2>Ingredients</h2>
    <%= f.collection_check_boxes :ingredient_ids, ingredients, :id, :name, checked: recipe.ingredients.all.map(&:id) %>
    <%= f.submit %>
<% end %>